# Supabase Cloud Configuration (Client-side frontend)
VITE_SUPABASE_URL=https://sawufdziibpsmpxyerqe.supabase.co
VITE_SUPABASE_ANON_KEY=

# Server-Side Webhook Serverless Function Configuration
SUPABASE_URL=https://sawufdziibpsmpxyerqe.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
